### macOS junk files
*.DS_Store


### Ignorable JMRI Files

# runtime artifacts
messages.log*
session.log

# backups
backupPanels/
*.bak


### Ignorable LaTex files
*.aux
*.log
*.out


### Ignorable XCode files

# User settings
xcuserdata/

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

